.tooltip {
  position: fixed;
  display: block;
  font-size: .75rem;
  line-height: 1.4;
}

.tooltip-top {
  margin-top: -.1875rem;
  padding: .3125rem 0;
  transform: translate(-50%, -100%);
}

.tooltip-green .tooltip_inner {
  background-color: #5cb85c;
}

.tooltip-top.tooltip-green .tooltip_arrow {
  border-top-color: #5cb85c;
}




.tooltip_arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip-top .tooltip_arrow {
  bottom: 0;
  left: 50%;
  margin-left: -.3125rem;
  border-width: 5px 5px 0;
}

.tooltip_inner {
  max-width: 12.5rem;
  padding: .1875rem .5rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: .25rem;
}
