.linechart {
  padding: 8px;
}
.linechart_path {
  stroke-width: 3;
  fill: none;
}

.linechart_axis {
  stroke: #bdc3c7;
}

.linechart_point {
  fill: #fff;
  stroke-width: 2;
}

.linechart_area {
  padding: 8px;
  fill: #64B5F6;
  stroke: none;
  opacity: .4;
}



.main {
  flex: 0 0 90%;
}

.date-label {
  padding-left: 8px;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
}

.popup {
  min-height: 50px;
}

.hoverLine {
  stroke: #7D95B6;
  stroke-width: 1;
}


.hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  position: absolute;
  padding: 5px;
  border-radius: 4px;
  background-color: #2196F3;
  color: white;
}

.hover .date {

}

.hover .price {
  font-weight: 700;
}
