
.hover {
  display: flex;
  flex-direction: column;
  align-items: center;

  left: 50%;

  min-width: 150px;
  position: absolute;
  padding: 5px;
  border-radius: 4px;
  background-color: #2196F3;
  color: white;
}
